<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handover</title>
</head>
<body>

    <h1>Passagem de serviço de supervisores</h1>

    <form action="" method="post">Período/data: </form>
    <form action="" method="post"> Supervisor atual: </form>
    <form action="" method="post"> Supervisor Back:</form>
    <form action="" method="post"> Cliente: </form>
    <form actions="" method="post"> Unidade: </form>
    <form actions="" method="post"> Projeto: </form>
    <form actions="" method="post"> Serviço Concluído:</form>
    <form actions="" method="post"> Serviço em andamento(No qual o supervisor irá prosseguir): </form>  
    <form actions="" method="post"> Orientações para o próximo supervisor/observações gerais: </form>
    <p>Informações de itens/equipamentos a bordo ao fim de sua quinzena</p>
    <form actions="" method="post"> Quantidade de Containers: </form>
    <form actions="" method="post"> Comentários de container: </form>
    <form actions="" method="post"> Quantidade de Caixas: </form>
    <form actions="" method="post"> Comentários de caixas: </form>
    <form actions="" method="post"> Quantidade de Skids: </form>
    <form actions="" method="post"> Comentários de skids: </form>
    <form actions="" method="post"> Quantidade de Detector de gás: </form>
    <form actions="" method="post"> Comentários de : </form>
    <form
</body>
</html>